<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
    point="org.eclipse.core.contenttype.contentTypes">
    <content-type
        id="tsufeki.tenkawaphp.php"
        base-type="org.eclipse.core.runtime.text"
        file-extensions="php"
        name="PHP"
        priority="normal">
    </content-type>
</extension>

<extension
    point="org.eclipse.ui.editors">
      <editorContentTypeBinding
        contentTypeId="tsufeki.tenkawaphp.php"
        editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
</extension>

<extension
    point="org.eclipse.lsp4e.languageServer">
    <server
        id="tsufeki.tenkawaphp.server"
        class="tsufeki.tenkawaphp.LanguageServer"
        label="PHP Language Server">
    </server>
    <contentTypeMapping
        contentType="tsufeki.tenkawaphp.php"
        id="tsufeki.tenkawaphp.server">
    </contentTypeMapping>
</extension>

<extension
    point="org.eclipse.ui.preferencePages">
    <page
        id="tsufeki.tenkawaphp.PreferencePage"
        name="Tenkawa PHP"
        class="tsufeki.tenkawaphp.PreferencePage">
    </page>
</extension>

<extension
    point="org.eclipse.core.runtime.preferences">
    <initializer
        class="tsufeki.tenkawaphp.PreferenceInitializer">
    </initializer>
</extension>

<extension
    point="org.eclipse.ui.genericeditor.presentationReconcilers">
    <presentationReconciler
        class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
        contentType="tsufeki.tenkawaphp.php">
    </presentationReconciler>
</extension>

<extension
    point="org.eclipse.tm4e.registry.grammars">
    <grammar
        path="syntaxes/php.tmLanguage.json"
        scopeName="text.html.php">
    </grammar>
    <scopeNameContentTypeBinding
        contentTypeId="tsufeki.tenkawaphp.php"
        scopeName="text.html.php">
    </scopeNameContentTypeBinding>
</extension>

</plugin>
